{{('message' in globals())}}
{{extend 'layout.html'}}

<div class="row">
  <div class="col-sm-9">
    <p class='title'>Area de Empresas</p>
    <div class='content'>
      <p class='subtitle'>Bienvenido</p>
      <p><b>Empresa pública o privada</b> si es primera vez que visita el sistema debe completar el formulario de Registro
            <a href={{=URL(c="empresa",f="registrar_empresa")}}>aqui.</a></p>
    </div>
  </div>
  <div class="col-sm-3">

  <p class='title'>Iniciar Sesion</p>
  {{=form}}
  <br><br><br>
  </div>
</div>
