{{extend 'layout.html'}}
<style>
    .btn-primary{
        background-color:#000000;
    }
</style>
<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-2">
            <div class="btn-group-vertical">
                <button type="button" class="btn btn-primary" data-url="{{=URL('catalogos_grid', 'eventos')}}">Especificar Eventos</button>
                <button type="button" class="btn btn-primary" data-url="{{=URL('catalogos_grid', 'roles')}}">Especificar Roles</button>
                <button type="button" class="btn btn-primary" data-url="{{=URL('catalogos_grid', 'montos')}}">Especificar Montos</button>
                <button type="button" class="btn btn-primary" data-url="{{=URL('catalogos_grid', 'sub_evento')}}">Especificar Sub Eventos</button>
                <button type="button" class="btn btn-primary" data-url="{{=URL('catalogos_grid', 'semana_muerta')}}">Semana Afectada</button>
            </div>
        </div>
        <div class="col-md-10">
            <div id="configuraciones"></div>
        </div>
        
    </div>
</div>

<script>
$(document).ready(function () {
    $(".btn").on("click",function (){
        url = $(this).attr("data-url");
        target = "configuraciones";
        web2py_ajax_page("GET", url, "", target);
    });
});
</script>

{{=BEAUTIFY(response._vars)}}
