{{extend 'layout.html'}}
<style>
    
    .menu-izquierda1 {
        display:block;
        position:fixed;
        width:inherit;
        padding-right:2em;
    }

    
    .tabla-grid{
        display:block;
    }
    
    .footer{
        display:none;
    }
    
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="btn-group-vertical  menu-izquierda1">
                <button id="boton_carreras" type="button" class="btn btn-primary" data-url="{{=URL('catalogos_grid', 'carreras')}}" data-target="tablas">Gestionar Carreras</button>
                <button type="button" class="btn btn-primary" data-url="{{=URL('catalogos_grid', 'departamentos')}}" data-target="tablas">Gestionar Departamentos</button>
                <button type="button" class="btn btn-primary" data-url="{{=URL('catalogos_grid', 'empresas')}}" data-target="tablas">Gestionar Empresas</button>
                <button type="button" class="btn btn-primary" data-url="{{=URL('catalogos_grid', 'estudiantes')}}" data-target="tablas">Gestionar Estudiantes</button>
                <button type="button" class="btn btn-primary" data-url="{{=URL('catalogos_grid', 'profesores')}}" data-target="tablas">Gestionar Profesores</button>
            </div>

        </div>
        <div class="col-md-10">
            <div id="tablas" class="tablas-grid"></div>
        </div>
    </div>
</div>

<script>
$(document).ready(function () {
     url = $("#boton_carreras").attr("data-url");
     target = $("#boton_carreras").attr("data-target");
     web2py_ajax_page("GET", url, "", target);
    $(".btn").on("click",function (){
        url = $(this).attr("data-url");
        target = $(this).attr("data-target");
        web2py_ajax_page("GET", url, "", target);
    });
});
</script>

{{=BEAUTIFY(response._vars)}}
