*.py[cod]
*.sqlite
*.pyc
*.py.bak
*.pid
parameters_*
httpserver.log
__pycache__/
scripts/*
#gluon/
logs/
applications/SPE/errors/
applications/SPE/databases/
applications/SPE/sessions/
applications/admin/sessions/
