{{('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<p class='title'>{{=message}}</p>
<br>
<div class='content'>
    {{=form.custom.begin}}
        <div class='col-md-4'>
            <label for='no_table_email'>{{=form.custom.label.email}}</label>
            {{=form.custom.widget.email}}
            <br>
            <label for='no_table_nombre'>{{=form.custom.label.nombre}}</label>
            {{=form.custom.widget.nombre}}
            <br>
            <label for='no_table_apellido'>{{=form.custom.label.apellido}}</label>
            {{=form.custom.widget.apellido}}
            <br>
            <label for='no_table_ci'>{{=form.custom.label.ci}}</label>
            {{=form.custom.widget.ci}}
            <br>
            <label for='no_table_password'>{{=form.custom.label.password}}</label>
            {{=form.custom.widget.password}}
            <br>
            <label for='no_table_confirm_Password'>{{=form.custom.label.comfirm_Password}}</label>
            {{=form.custom.widget.comfirm_Password}}
            <br>
        </div>

        <div class='col-md-4'>
            <label for='no_table_pregunta_secreta'>{{=form.custom.label.pregunta_secreta}}</label>
            {{=form.custom.widget.pregunta_secreta}}
            <br>
            <label for='no_table_respuesta_pregunta_secreta'>{{=form.custom.label.respuesta_pregunta_secreta}}</label>
            {{=form.custom.widget.respuesta_pregunta_secreta}}
            <br>
            <label for='no_table_profesion'>{{=form.custom.label.profesion}}</label>
            {{=form.custom.widget.profesion}}
            <br>
            <label for='no_table_cargo'>{{=form.custom.label.cargo}}</label>
            {{=form.custom.widget.cargo}}
            <br>
            <label for='no_table_departamento'>{{=form.custom.label.departamento}}</label>
            {{=form.custom.widget.departamento}}
            <br>
        </div>

        <div class='col-md-4'>
            <label for='no_table_direccion'>{{=form.custom.label.direccion}}</label>
            {{=form.custom.widget.direccion}}
            <br>
            <label for='no_table_id_pais'>{{=form.custom.label.id_pais}}</label>
            {{=form.custom.widget.id_pais}}
            <br>
            <label for='no_table_id_estado'>{{=form.custom.label.id_estado}}</label>
            {{=form.custom.widget.id_estado}}
            <br>
            <label for='no_table_telefono'>{{=form.custom.label.telefono}}</label>
            {{=form.custom.widget.telefono}}
            <br>
            {{=form.custom.submit}}
            <br><br><br><br>
        </div>
    {{=form.custom.end}}
</div>
{{pass}}
