{{('message' in globals())}}
{{extend 'layout.html'}}


{{if 'message' in globals():}}
<p class='title'>{{=message}}</p>
<div class='content'>
  <div class="row">
    {{=form.custom.begin}}
       <div class="col-xs-4">
          Nombre de la Empresa:
          <div>{{=form.custom.widget.nombre}}</div>
          <span class="help-block">Nombre comercial de la empresa</span>
          Pais:
          <div>{{=form.custom.widget.id_pais}}</div>
          <span class="help-block">Pais en el que se encuentra la empresa</span>
          Estado:
          <div>{{=form.custom.widget.id_estado}}</div>
          <span class="help-block">Estado del pais en el que se encuentra</span>
          Direccion:
          <div>{{=form.custom.widget.direccion}}</div>
          <span class="help-block">Direccion de las instalaciones de la empresa</span>
        </div>
        <div class="col-xs-4">
          Teléfono:
          <div>{{=form.custom.widget.telefono}}</div>
          <span class="help-block">Numero telefonico de contacto de la empresa</span>
          Página web:
          <div>{{=form.custom.widget.pag_web}}</div>
          <span class="help-block">Pagina Web de la empresa</span>
          Contacto de Recursos Humanos:
          <div>{{=form.custom.widget.contacto_RRHH}}</div>
          <span class="help-block">Correo de contacto del departamento de recursos humanos de la empresa</span>
          Descripción:
          <div>{{=form.custom.widget.descripcion}}</div>
          <span class="help-block">Descripcion breve de la empresa, su vision y sus funciones</span>
        </div>
        <div class="col-xs-4">
          Login:
          <div>{{=form.custom.widget.log}}</div>
          <span class="help-block">Identificación de acceso unica asignada a la empresa</span>
          Contraseña:
          <div>{{=form.custom.widget.password}}</div>
          <span class="help-block">Contraseña para acceder al sistema</span>
          Confirmar Contraseña:
          <div>{{=form.custom.widget.comfirm_Password}}</div>
          <span class="help-block">Repita su contraseña</span>
          Pregunta Secreta:
          <div>{{=form.custom.widget.pregunta_secreta}}</div>
          <span class="help-block">Si necesita obtener de nuevo su contraseña se le hara esta pregunta</span>
          <input type="submit" value="Registrarse">
        </div>
    {{=form.custom.end}}
    </div>
    <div class="row">
    </div>
    <p><br></p>
    <p><br></p>
</div>

{{pass}}
