body{
	overflow-x: hidden;
}

.navbar-default, .navbar-style {
    min-height:40px !important;
    height: 40px !important;
    position: relative;
    margin-top: 10px;
    padding: 0px 12px !important;
	background-color: rgba(63, 93, 93, 0.50) !important;
}

.navbar-collapse.collapse.in, .navbar-toggle.open,
.navbar-toggle:hover, .navbar-toggle:focus {
    border-color: rgba(63, 93, 93, 0.50);
    background-color: rgba(63, 93, 93, 0.50) !important;
}

.navbar-nav>li>a {  
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    line-height: 40px !important;
}

ul{
	font-size: 13px !important;
	padding-left: % !important;
}

ul.dropdown-menu.dropdown-menu-style{
	height: 100;
    background-color: #526060;
} 

li a{
	color: #ffffff !important;
	position: relative;
}


li.dropdown.open{
	position: relative;
}

.dropdown-menu-style li{
	position: relative;
/*	padding-top: 5px;*/
/*	padding-bottom: 5px;*/
	background-color: #526060;
}

a.dropdown-focus{
	background-color: #526060;
}

ul.nav.navbar-nav.navbar-right .navbar-nav>li>.dropdown-menu{
	background-color: #526060;
}
.navbar-default .navbar-nav>li:hover{
    background-color: #758a8a;
}
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus{
	background-color: #758a8a;
}

.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu>li>a:hover {
	background-color: #758a8a;
}

.navbar-toggle{
    padding: 13px 10px !important;
    margin-top: 0px;
}
