body{
	overflow-x: hidden;
}

ul{
	font-size: 13px !important;
	padding-left: % !important;
}

ul.dropdown-menu.dropdown-menu-style{
	height: 100;
    background-color: #526060;
} 

li a{
	color: #ffffff !important;
	position: relative;
}


li.dropdown.open{
	position: relative;
	top: 10px;
	height: 40px;
}
.dropdown-toggle{
    height: 40px;
}

.navbar-style{
	margin-top: 10px;
	position: relative;
	height: 40px;
	background-color: rgba(63,93,93,0.5);
}

.navbar-content-style{
	position: relative;
	top: -10px;
}

.dropdown-menu-style li{
	position: relative;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #526060;
}

a.dropdown-focus{
	background-color: #526060;
	top: -10px;
}

ul.nav.navbar-nav.navbar-right .navbar-nav>li>.dropdown-menu{
	background-color: #526060;
	width: 100%;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus{
	background-color: #526060;
}


.dropdown-menu>li>a:hover {
	background-color: rgba(145, 161, 161, 1);
}
