{{('message' in globals())}}
{{extend 'layout.html'}}

<p class='title'>{{=message}}</p>

<div class="row">
  <div class="col-sm-4">
    <p class='subtitle'>Datos Personales</p>
    {{=form1}}
  </div>
  <div class="col-sm-4">
    <p class='subtitle'>Datos de la Pasantia</p>
    {{=form2}}
  </div>
  <div class="col-sm-4">
    <p class='subtitle'>Datos del Perfil</p>
    {{result = tiene_foto(auth.user.username)}}
    {{if result['check']:}}
    {{=IMG(_src=URL('static','profile_pictures/'+str(result['path'])),_alt="profile",_height="200",_width="200")}}
    {{else:}}
    {{=IMG(_src=URL('static','profile_pictures/default.png'),_alt="profile",_height="200",_width="200")}}
    {{pass}}
    {{=form3}}
    <br>
    <p>Una vez actualizados todos sus datos, finalice su preinscripcion.</p>
    </br>
    <a href={{=URL('estudiante','finalizar_preinscripcion')}}>
      <button type="success" class="btn btn-default">Finalizar Preinscripcion</button>
    </a>
  </div>
</div>
<div class="row">
  <br><br>
</div>

<script>
jQuery(document).ready(function(){
   if(jQuery('#no_table_publicar_datos input[type="radio"]').val() == "Si")
        jQuery('#no_table_estado__row').show();
   else jQuery('#no_table_estado__row').hide();
   jQuery('#no_table_publicar_datos input[type="radio"]').change(function(){
        if(jQuery('#no_publicar_datos input[type="radio"]').val()== "Si")
             jQuery('#no_table_estado__row').show();
        else jQuery('#no_table_estado__row').hide();});
});
</script>
