{{('message' in globals())}}
{{extend 'layout.html'}}

<p class='title'>{{=message}}</p>

<div class="row">
  <div class="col-sm-3">
    <p class=subtitle>Foto de Perfil</p>
    {{result = tiene_foto(auth.user.username)}}
    {{if result['check']:}}
    {{=IMG(_src=URL('static','profile_pictures/'+str(result['path'])),_alt="profile",_height="150",_width="150")}}
    {{else:}}
    {{=IMG(_src=URL('static','profile_pictures/default.png'),_alt="profile",_height="150",_width="150")}}
    {{pass}}
  </div>
  <div class="col-sm-3">
    <p class='subtitle'>Datos Personales</p>
      <li><b>Nombre     :</b>{{=datos_personales['Nombre']}}</li>
      <li><b>Cedula     :</b> {{=datos_personales['Cedula']}}</li>
      <li><b>Carrera    :</b> {{=datos_personales['Carrera']}}</li>
      <li><b>Sede       :</b> {{=datos_personales['Sede']}}</li>
      <li><b>Direccion  :</b> {{=datos_personales['Direccion']}}</li>
      <li><b>Correo     :</b> {{=datos_personales['Correo']}}</li>
      <li><b>Telf. Hab. :</b> {{=datos_personales['Telfono habitacion']}}</li>
  </div>
  <div class="col-sm-3">
    <p class='subtitle'>Datos Pasantia</p>
      <li><b>Periodo             :</b>{{=datos_pasantia['Periodo']}}</li>
      <li><b>Codigo Pasantia     :</b>{{=datos_pasantia['Codigo Pasantia']}}</li>
      <li><b>Fecha Inscripcion   :</b>{{=datos_pasantia['Fecha Inscripcion']}}</li>
      <li><b>Codigo de Seguridad :</b>{{=datos_pasantia['Codigo de Seguridad']}}</li>
  </div>
</div>
<div class="row">
  <br><br>
</div>
