{{('message' in globals())}}
{{extend 'layout.html'}}

<p class='title'>{{=message}}</p>
<p class='subtitle'>Agregue de forma individual cada actividad perteneciente a cada fase de su plan de trabajo<br>
  Todos los campos son obligatorios</p>

<div class="row">
  <div class="container col-md-5 form-group">
  {{=form1}}
  </div>
</div>

<div class="row">
  <div class="container col-md-5 form-group">
  {{=form2}}
  {{items =actividad}}
  <ul class="list">
    {{for item in items:}}<li>{{=item}}</li>{{pass}}
  </ul>
  </div>
</div>



<div class="container col-md-offset-10 form-group">
    <br><br>
    <button type="submit" class="btn btn-default">ENVIAR PLAN DE TRABAJO</button>
    <br><br><br><br>
</div>


datos_actividad