{{('message' in globals())}}
{{extend 'layout.html'}}

<p class='title'>{{=message}}</p>
<p class='subtitle'>Agregue una a una las actividades de su plan de trabajo <p>

  <form role="form">
    <div class="container col-md-10 form-group">
      <p class="subtitle">Actividad</p>
      <div class="row">
        <div class="col-xs-2">
        <label for="ex1">Fase:</label>
          <select class="form-control" id="codpas">
            <option>Inicio</option>
            <option>Desarrollo</option>
            <option>Cierre</option>
          </select>
        </div>
        <div class="col-xs-3">
          <label for="ex2">Fecha Inicio</label>
          <input class="form-control" id="ex2" type="date">
        </div>
        <div class="col-xs-3">
          <label for="ex2">Fecha Finalizacion</label>
          <input class="form-control" id="ex2" type="date">
        </div>

        <div class="col-xs-2">
          <label for="ex2">Tiempo Estimado</label>
          <input class="form-control" id="ex2" type="text">
        </div>
      </div>
      <div class="row">
          <div class="col-md-10 form-group">
              <br>
             <label for="text">Descripcion</label>
             <input type="text" class="form-control">
          </div>
      </div>
      <div class="row">
        <div class="col-md-10 form-group">
          <button type="submit" class="btn btn-default">Argregar Actividad</button>
          <br><br><br>
        </div>
      </div>
    </div>
    <div class="container col-md-2 form-group">
        <button type="sucess" class="btn btn-default">Enviar Plan de Trabajo</button>
    </div>
  </form>
