{{extend 'layout.html'}}

{{if auth.is_logged_in():}}
<p class='title'>Bienvenido {{=auth.user.first_name}}</p>
{{pass}}
<p class='subtitle'> {{=message}}</p>
<span class="help-block">* Datos Obligatorios</span><br>
<div class="row">
  {{=form.custom.begin}}
  <div class="col-xs-4">
     <i class="fa fa-briefcase fa-pull-right"></i><b>* Usbid:</b>
     <div>{{=form.custom.widget.usbid_usuario}}</div>
     <i class="fa fa-briefcase fa-pull-right"></i><b>* Carrera:</b>
     <div>{{=form.custom.widget.carrera}}</div>
     <i class="fa fa-globe fa-pull-right"></i><b>* Cohorte:</b>
     <div>{{=form.custom.widget.cohorte}}</div>
     <span class="help-block">Solo dos números, por ejemplo: "00"</span>
     <i class="fa fa-map-o fa-pull-right"></i> <b>* Sede:</b>
     <div>{{=form.custom.widget.estudiante_sede}}</div>
     <i class="fa fa-map-marker fa-pull-right"></i> <b>* Sexo:</b>
     <div>{{=form.custom.widget.sexo}}</div>
   </div>
   <div class="col-xs-4">
      <i class="fa fa-briefcase fa-pull-right"></i> <b>* Correo Electronico:</b>
      <div>{{=form.custom.widget.email_sec}}</div>
      <span class="help-block">Utiliza el correo que uses frecuentemente</span>
      <i class="fa fa-briefcase fa-pull-right"></i> <b>Telefono Habitacion:</b>
      <div>{{=form.custom.widget.telf_hab}}</div>
      <i class="fa fa-globe fa-pull-right"></i> <b>Telefono Celular:</b>
      <div>{{=form.custom.widget.telf_cel}}</div>
      <i class="fa fa-map-o fa-pull-right"></i> <b>Direccion:</b>
      <div>{{=form.custom.widget.direccion}}</div>
    </div>
    <div class="col-md-4 col-md-offset-4">
      {{=form.custom.submit}}
    </div>
      {{=form.custom.end}}
</div>
<div class="row">
  <br><br><br><br>
</div>
