{{left_sidebar_enabled,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}

    {{if auth.is_logged_in():}}
        {{redirect(URL('home'))}}

    {{else:}}
        <div class="row">
            <p class='title'>{{=message}}</p>
            {{if resend:}} 
                <p><font color="red">{{=resend}}</font></p>
            {{pass}}
        </div>
            {{=form.custom.begin}}
                <div class="row">
                    <label for="no_table_codigo">{{=form.custom.label.codigo}}</label>
                </div>
                <div class="row">
                    <div class="row col-md-8">
                        {{=form.custom.widget.codigo.update(_placeholder="código de verificación")}}
                    </div>
                    <div class="col-md-4">
                        <a data-toggle="popover" title={{=T('Help')}} data-content="Por su seguridad se le ha enviado una clave de verificación que debe ingresar para activar su cuenta, así constatamos que es una empresa o tutor industrial legítimo. Si no ha recibido el correo pulse pulse 'Reenviar Correo'.">
                        <i class="fa fa-question-circle fa-2x" style="color:#3e3f3a"></i>
                        </a>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="row col-md-8">
                        {{=form.custom.submit}}
                        <div class="right">
                            {{=A(T('Send Email Again'), _class='btn btn-default',_href=URL  (c='default',f='resendVerificationEmail',vars=dict(correo=request.vars.correo)))}}
                        </div>
                    </div>

                </div>
            {{=form.custom.end}}
            <br><br><br>
            <br>

        {{block right_sidebar}}
            <br><br><br>
            <div align="center">
                {{=IMG(_class='img-responsive', _src=URL('static','images/shield2.png'),alt="shield", _width="100")}}
            </div>
            <br><br><br>
        {{end}}

    {{pass}}

    {{elif 'content' in globals():}}
    {{=content}}
    {{else:}}
    {{=BEAUTIFY(response._vars)}}
{{pass}}

<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
</script>
