{{left_sidebar_enabled=False,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block left_sidebar}}
<div class="container">
  <div class='subtitle'> Esta es la columna izquierda.</div>
    <p>Aqui ira informacion adicional de navegacion.</p>
    <p>Funcionalidades comunes, etc.</p>
</div>
{{end}}

{{if 'message' in globals():}}
<p class='title'>{{=message}}</p>
<div class='content'>
  <p class='title'>Esta es la columna principal</p>
  <p>Aqui ira la informacion mas relevante </p>
</div>

{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{block right_sidebar}}
<div class="container">
  <div class='subtitle'> Esta es la columna derecha</div>
    <p>Aqui ira informacion importante o a resaltar.</p>
    <p>El inicio de sesion ira en esta parte, etc.</p>
    <br>
    <p>Ejemplo de boton </p>
    <button class='success'>Ejemplo</button>
</div>
{{end}}
