{{left_sidebar_enabled=False,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{if 'message' in globals():}}
<p class='title'>{{=message}}</p>
<div class='content'>
  <p><b>Estudiante</b>, este sistema te permite realizar la Inscripción, Documentación, Formulación y Culminación de Pasantías Empresariales.
  Debes mantener tu información de contacto actualizada, para que la Coordinación de Cooperación Técnica pueda comunicarse contigo.</p>

  <p><b>Profesores USB</b>, este sistema les permite realizar la Revisión de Planes de Trabajo, Asignación de Notas y Consulta de Pasantías Tutoreadas.</p>

  <p><b>CCT</b>, este sistema le permite realizar Consultas Avanzadas y Reportes de utilidad para la comunidad USB entera.</p>

  <p><b>Empresa Pública o Privada</b>, este sistema le permite solicitar pasantes, revisar el plan de trabajo y recibir anuncios de chalas y estudiantes interesados en hacer pasantías tanto largas, intermedias como cortas.</p>
</div>

{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}

{{block right_sidebar}}
<div class="container">
  <div class='title'> Iniciar Sesión</div>
    <br>
    <a href="https://secure.dst.usb.ve/login?service=http%3A%2F%2F127.0.0.1%3A8000%2FSPE%2Fdefault%2Flogin_cas">
      <button class='success'>Miembro USB</button>
    </a>
    <a href={{=URL(a='Empresas',c='default',f='index')}}>
      <button class='success'>Empresas</button>
    </a>
</div>
{{end}}
