{{left_sidebar_enabled=False,right_sidebar_enabled=False,('message' in globals())}}
{{extend 'layout.html'}}

{{block left_sidebar}}
<div class="container">
  <div class='subtitle'> Esta es la columna izquierda.</div>
    <p>Aqui ira informacion adicional de navegacion.</p>
    <p>Funcionalidades comunes, etc.</p>
</div>
{{end}}

{{if 'message' in globals():}}
<p class='title'>{{=message}}</p>
<div class='content'>
    {{=form}}
    <p><br></p>
    <p><br></p>
</div>

{{elif 'content' in globals():}}
{{=content}}
{{else:}}
{{=BEAUTIFY(response._vars)}}
{{pass}}
